# Postgresql
psycopg2-binary==2.7.6.1

# Django
Django==2.1.3

# Server
gunicorn==19.9.0

# Heroku
django-heroku==0.3.1

# Elasticsearch
elasticsearch=5.5.1

# Django geonames API
django-geonames-api==0.8
