
<div class="my-fluid-container">
  <div id="filter">
    <a title="{{poi.title}}" *ngFor="let poi of poidata" class="link-magasin" id="{{poi.id}}">
      <div class="poiListItem">
        <div class="poiIconWrapper">
          <div class="poiIcon"><i class="poiIcon fa fa-{{poi.type}}"></i></div>
        </div>
        <div class="poiContent">
            <div class="poiContentTitle">{{poi.title}}</div>
            <div class="poiContentSubtitle">{{poi.subtitle}}</div>
            <div class="poiContentTags" [innerHTML]="poi|poiTags"></div>
        </div>
      </div>
    </a>
  </div>
  <div id="carte">
    <div id="map"></div>
  </div>
</div>
