#map-wrapper {
    margin-left: 500px;
}

#map {
    top: 0;
    height: 660px;
}

#button-wrapper {
    position: relative;
    z-index: 9999;
    bottom: 70px;
    width: 300px;
    height: 10px;
    margin: auto;
}


#filter {
    float: left;
    left: 0px;
    margin-top: 0px;
    width: 500px;
    height: 660px;
    max-height: 660px;
    padding-left: 0px;
    background-color: #ddd;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9998;
    overflow: auto;
}


.poiListItem {
    height: 100px;
    width: 480px;
    padding: 20px 0px 20px 0px;
    border: 1px solid #ccc;
}

#filter a:nth-child(odd) .poiListItem {
    background-color: #ccd;
}
#filter a {
    color: inherit;
}

.poiIconWrapper {
    float: left;
}

.poiIcon i {
    margin: 0px 0px 0px 5px;
    width: 60px;
    text-align: center;
    font-size: 60px;
}

.poiContent {
    margin-left: 75px;
}

.poiContentTitle {
    font-size: 18px;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poiContentSubtitle {
    font-size: 14px;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poiContentTags {
    font-size: 12px;
}
.poiContentTag {
    float: left;
    margin-right: 20px;
}
