/* map */

.map-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;

    /* avoid browser level touch actions */
    xtouch-action: none;
}

#map-wrapper {
    flex: 1 1 auto;
    /* resizable */
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background: #eee;
}

#map {
    top: 0;
    height: 660px;
}

#button-wrapper {
    position: relative;
    z-index: 9999;
    bottom: 70px;
    width: 300px;
    height: 0px;
    margin: auto;
}

.splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #111;
    filter: invert(100%);
    min-height: 200px;
    cursor: col-resize;
}

/* filter bar */
#filter {
    flex: 0 0 auto;
    left: 0px;
    margin-top: 0px;
    width: 50%;
    height: 660px;
    max-height: 660px;
    padding-left: 0px;
    background-color: #f9f5f3;
    background-repeat: no-repeat;
    overflow: auto;
}


.poiListItem {
    height: 100px;
    width: 100%;
    padding: 20px 0px 20px 0px;
    /* border: 1px solid #ccc; */
}

#filter a:nth-child(odd) .poiListItem {
    background-color: #fff;
}
#filter a {
    color: inherit;
}

.poiIconWrapper {
    float: left;
}

.poiIcon i {
    margin: 0px 0px 0px 5px;
    width: 60px;
    text-align: center;
    font-size: 60px;
}

.poiContent {
    margin-left: 75px;
}

.poiContentTitle {
    font-size: 18px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poiContentSubtitle {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poiContentTags {
    font-size: 12px;
    max-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.poiContentTag {
    float: left;
    margin-right: 20px;
}

.advanced-filter {
    cursor: pointer;
}

/* location icon */
.fa.fa-w-12 {
    width: 0.75em;
}

.around-me {
    cursor: pointer;
}