{% extends 'projects/__base_contribute.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block child_content %}
    {{ block.super }}
    {{ form.city|as_crispy_field }}
    {{ form.phonenumber|as_crispy_field }}

    <div class="h3">Mes compétences</div>
    {{ form.professional_profile|as_crispy_field }}
    {{ form.position|as_crispy_field }}
    <div class="pt-4">
        <span class="font-weight-bold">Décris en une phrase ton apport à la communauté</span>
        {{ form.description|as_crispy_field }}
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.sector|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ form.skill|as_crispy_field }}
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}