{% extends '__base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center mb-3">
            <img class="border border-light gravatar rounded-circle">
        </div>
        <div class="row justify-content-md-center">
            <h2>{{ object.first_name }} {{ object.last_name }}</h2>
        </div>
        <div class="text-center">
            <p>
                {% if object.contributor.city %}{{ object.contributor.city }}<br />{% endif %}

                <a href="mailto:{{ object.email }}">{{ object.email }}</a><br />
                {% if object.contributor.phonenumber %}<a href="tel:{{ object.contributor.phonenumber }}">{{ object.contributor.phonenumber }}</a><br />{% endif %}
            </p>
        </div>
        {% if object.contributor.description %}
        <div class="row justify-content-md-center mb-3">
            <span class="font-weight-bold">En une phrase : </span>&nbsp;{{ object.contributor.description }}
        </div>
        {% endif %}
        <div class="row justify-content-md-center mb-3">
            {% if object.contributor.company %}<span class="font-weight-bold">Entreprise :</span>&nbsp;{{ object.contributor.company }}{% endif %}
            {% if object.contributor.company and object.contributor.position %}-&nbsp;{% endif %}
            {% if object.contributor.position %}<span class="font-weight-bold">Fonction:</span>&nbsp;{{ object.contributor.position }}{% endif %}
        </div>
        {% if object.contributor.professional_profile %}
        <div class="row justify-content-md-center mb-3">
        <a href="{{ object.contributor.professional_profile }}">&gt;&gt; Consulter mon profil pro</a>
        </div>
        {% endif %}
        {% if object.contributor.sector or object.contributor.skill %}
        <div class="row justify-content-md-center mb-3">
        <div class="row mb-3">
            <span class="font-weight-bold">Secteur et Compétences :</span>
            {% if object.contributor.sector %}<i class="fa fa-tag ml-3 mr-1"></i>{{ object.contributor.sector }}{% endif %}
            {% if object.contributor.skill %}<i class="fa fa-tag ml-3 mr-1"></i>{{ object.contributor.skill }}{% endif %}
        </div>
        <div class="row mb-3">
            <span class="font-weight-bold">Secteur et Compétences :</span>
            {% if object.contributor.sector %}<i class="fa fa-tag ml-3 mr-1"></i>{{ object.contributor.sector }}{% endif %}
            {% if object.contributor.skill %}<i class="fa fa-tag ml-3 mr-1"></i>{{ object.contributor.skill }}{% endif %}
        </div>
        </div>
        {% endif %}
        {% if object.contributor.ideas.all or object.contributor.projects.all %}
            <div class="row font-weight-bold pb-2">Contributions :</div>
            {% for idea in object.contributor.ideas.all %}
            <div class="row">
                <i class="fa fa-{{ idea.get_icon }} pr-2 pl-2"></i><a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a>
            </div>
            {% endfor %}
            {% for project in object.contributor.projects.all %}
            <div class="row">
                <i class="fa fa-{{ project.get_icon }} pr-2 pl-2"></i><a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    {{ form.media }}

    <!-- Gravatar -->
    <script src="{% static 'users/gravatar.js' %}"></script>

    <script>
        gravatar_image_url = get_gravatar_image_url('{{ object.email }}', 200);
        if(gravatar_image_url != '') {
            $('.gravatar').attr('src', gravatar_image_url);
        }
    </script>
{% endblock %}
