{% extends '__base.html' %}
{% load static %}

{% block style %}
    <!-- Contribute -->
    <link rel="stylesheet" type="text/css" href="{% static 'projects/contribute.css' %}">
{% endblock %}



{% block content %}
    <div class="container jumbotron">
        {% block jumbotron_content %}
            <div class="contribute-title">Je rejoins le réseau ruptur</div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contributor-form' %}"><i class="fa fa-user"></i> Je référence mes compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'project-form' %}"><i class="fa fa-rocket"></i> Je propose un projet bleu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'idea-form' %}"><i class="fa fa-lightbulb"></i> Je partage une idée / question</a>
                </li>
            </ul>
        {% endblock %}
    </div>

    {% block contribution_content %}
    <div class="contribution-form pb-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <form method="post" class="col-lg-8 col-lg-offset-3" novalidate>
                    {% csrf_token %}
                    <div class="h3"><i class="fa fa-user mr-2"></i>Qui es-tu?</div>
                    <div class="form-group">
                        <label for="email">Email</label><input type="email" id="email" name="email" class="form-control" autocomplete="email" value="{{ request.user.email }}" {% if request.user.id %}readonly{% endif %} required />
                    </div>
                    {% if not request.user.id %}
                    <div class="form-group displaypass d-none">
                        <div class="i-know-u small-information-text pb-1">On se connaît non ? Connecte-toi avec toi avec ton mot de passe</div>
                        <label for="password">Mot de passe</label><input type="password" name="password" id="password" class="form-control" autocomplete="current-password" />
                    </div>
                    {% endif %}

                    {% block child_content %}
                    {% endblock %}

                    {% if request.user.id %}
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    {% else %}
                        <button type="button" class="btn btn-primary savebutton">Vérifier</button>
                    {% endif %}
                    <a href="{% url 'contribute' %}">
                        <button type="button" class="btn btn-primary">Retour</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}

{% block script %}
    <!-- Login -->
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
