{% extends '__base.html' %}
{% load static %}

{% block style %}
    <!-- Contribute -->
    <link rel="stylesheet" type="text/css" href="{% static 'projects/contribute.css' %}">
{% endblock %}

{% block content %}
<div class="container jumbotron">
    <div class="contribute-title">Je contribue en</div>
    <ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contributor-form' %}"><i class="fa fa-user"></i> Créant mon profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'project-form' %}"><i class="fa fa-rocket"></i> Créant un projet bleu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#"><i class="fa fa-lightbulb"></i> Publiant une idée / demande</a>
    </li>
    </ul>
</div>
{% endblock %}