{% extends 'projects/__base_contribute.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block jumbotron_content %}
    {{ block.super }}

    {% if request.user.contributor %}
        {% if request.user.contributor.ideas.all or request.user.contributor.projects.all %}
            <div class="h4 row font-weight-bold pt-5 pb-2">Contributions :</div>
            {% for idea in request.user.contributor.ideas.all %}
            <div class="row">
                <div class="col-2">
                <i class="fa fa-{{ idea.get_icon }} pr-2 pl-2"></i><a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a>
                </div>

                <div class="col">
                <a href="{% url 'idea-form' idea.id %}"><i class="fa fa-pen pl-4"></i></a><a href="{% url 'idea-delete' idea.id %}"><i class="fa fa-times pr-2 pl-2"></i></a>
                </div>
            </div>
            {% endfor %}
            {% for project in request.user.contributor.projects.all %}
            <div class="row">
                <div class="col-2">
                <i class="fa fa-{{ project.get_icon }} pr-2 pl-2"></i><a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
                </div>

                <div class="col">
                <a href="{% url 'project-form' project.id %}"><i class="fa fa-pen pl-4"></i></a><a href="{% url 'project-delete' project.id %}"><i class="fa fa-times pr-2 pl-2"></i></a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block contribution_content %}
{% endblock %}

{% block script %}
    {{ block.super }}
    {{ contribform.media }}
{% endblock %}