{% extends 'projects/__base_contribute.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block child_content %}
    {{ block.super }}

    {{ contribform.city|as_crispy_field }}

    <div class="h3"><i class="fa fa-rocket mr-2"></i>Mon projet bleu</div>

    {{ form.title|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    {{ form.nature|as_crispy_field }}
    {{ form.maturity|as_crispy_field }}

    <div class="h4">Mots-clefs pour identifier facilement le projet</div>
    {{ form.tags|as_crispy_field }}
{% endblock %}

{% block script %}
    {{ block.super }}
    {{ contribform.media }}
{% endblock %}