{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- FontAwesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat" rel="stylesheet">

        <!-- Bootstrap alerts -->
        <link rel="stylesheet" href="{% static 'css/bootstrap-alerts.css' %}">

        <!-- Ruptur charter -->
        <link rel="stylesheet" href="{% static 'css/ruptur-charter.css' %}">

        {% block style %}
        {% endblock %}

        <title>Ruptur</title>

    </head>
    <body>
        <header role="banner">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a href="/" class="navbar-brand"><img src="{% static '/logo_ruptur.svg' %}" label="Ruptur" title="Logo ruptur"></a>
                    <div class="d-flex ml-auto">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="globalNavbar">
                        <form class="form-inline form-navbar my-2 my-lg-0 order-2" action="#">
                            <div>
                                {% if request.user.is_authenticated %}<a class="nav-link" href="{% url 'contributor-details' request.user.id %}"><i class="fa fa-user"></i></a>
                                {% else %}
                                    <i class="fa fa-user"></i></a>
                                {% endif %}
                            </div>
                            <div>
                                {% if request.user.is_authenticated %}<a class="nav-link" href="/accounts/logout"><i class="fa fa-door-open"></i></a>{% endif %}
                            </div>
                        </form>

                        <ul class="navbar-nav mr-auto order-1">
                            <li class="nav-item"><a class="nav-link" href="https://calendar.google.com/calendar?cid=YXVyZWxpZWR1dGhvaXRAZ21haWwuY29t" target="_blank">Calendrier</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://www.ruptur.fr/rejoignez-nous/" target="_blank">Adhérez</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container sticky-top alert-slider mt-2">
            <div data-alerts="alerts" data-ids="alert-message" data-usebullets="false" data-fade="5000"></div>
        </div>
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- Bootstrap alerts -->
        <script src="{% static 'js/jquery.bsAlerts.min.js' %}"></script>

        <!-- Leaflet -->
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>

        <script>
            check_email_url = '{% url "api_dispatch_list" resource_name="user" api_name="v1" %}?format=json';
        </script>
        {% block script %}
        {% endblock %}
    </body>
</html>