{% extends '__base.html' %}
{% load static %}

{% block style %}
    <!-- Top contribute bar -->
    <link rel="stylesheet" type="text/css" href="{% static 'map/bar.css' %}">

    <!-- Map -->
    <link rel="stylesheet" type="text/css" href="{% static 'map/map.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                L'outil de travail du réseau RUPTUR
            </div>
        </div>
        <div class="row">
            <div class="clickable-icon col text-center">
                <a class="nav-link" href="{% url 'contributor-form' %}">
                    <div class="m-auto border border-dark rounded-circle square-icon"><i class="p-4 fa fa-6x fa-user"></i></div>
                    <p class="icon-subtitle">Référence tes<br /><span class="icon-subtitle font-weight-bold">compétences</span></p>

                </a>
            </div>

            <div class="clickable-icon col text-center">
                <a class="nav-link" href="{% url 'project-form' %}">
                    <div class="m-auto border border-dark rounded-circle square-icon"><i class="p-4 fa fa-6x fa-rocket"></i></div>
                    <p class="icon-subtitle">Concrétise tes<br /><span class="icon-subtitle font-weight-bold">projets bleus</span></p>
                </a>
            </div>

            <div class="clickable-icon col text-center">
                <a class="nav-link" href="{% url 'idea-form' %}">
                    <div class="m-auto border border-dark rounded-circle square-icon"><i class="p-4 fa fa-6x fa-lightbulb"></i></div>
                    <p class="icon-subtitle">Exprime tes<br /><span class="icon-subtitle font-weight-bold">idées/demandes</span></p>
                </a>
            </div>
        </div>
    </div>

    <div class="my-fluid-container">
        <div id="filter"></div>
        <div id="map-wrapper">
            <div id="map">
            </div>
            <div id="button-wrapper">
                <a class="nav-link" href="{% url 'contribute' %}"><button type="button" class="btn btn-primary btn-lg btn-block">Rejoindre le réseau</button></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Map -->
    <script src="{% static 'map/map.js' %}"></script>
{% endblock %}